# Unconditionally disable manylinux support in a cross environment

def manylinux_compatible(tag_major, tag_minor, tag_arch):
    return False

manylinux1_compatible = False
manylinux2010_compatible = False
manylinux2014_compatible = False
