@property
def _Context_path(self):
    path = vars(self).get('path')
    if path is not None:
        return path

    import sysconfig
    import sys
    stdlib = sysconfig.get_path('stdlib')
    path = list(sys.path)
    try:
        i = path.index(stdlib)
        path[i:i] = sys.build_path
    except ValueError:
        pass

    return path

# This will apply to all created instances of Context(), so we don't need to
# patch the default argument to any find_distribution() functions out there.
DistributionFinder.Context.path = _Context_path
