cross_compiling = True
build_path = {{repr(context.build_sys_path)}}
platform = {{repr(self.host_sys_platform)}}
abiflags = {{repr(host_build_time_vars.get('ABIFLAGS'))}}
if abiflags is None:
    del abiflags

implementation._multiarch = {{repr(host_build_time_vars.get('MULTIARCH'))}}
if implementation._multiarch is None:
    del implementation._multiarch

implementation._simulator = {{repr(self.host_is_simulator)}}
if implementation._simulator is None:
    del implementation._simulator

# Remove cross-python from sys.path. It's not needed after startup.
path.remove({{repr(context.lib_path)}})
path.remove({{repr(stdlib)}})
