# Patch the things that depend on os.environ
_PROJECT_BASE = {{repr(self.host_project_base)}}

# Things that need to be re-evaluated after patching
_PYTHON_BUILD = is_python_build(True)
_PREFIX = os.path.normpath(sys.prefix)
_BASE_PREFIX = os.path.normpath(sys.base_prefix)
_EXEC_PREFIX = os.path.normpath(sys.exec_prefix)
_BASE_EXEC_PREFIX = os.path.normpath(sys.base_exec_prefix)

def get_makefile_filename():
    return {{repr(self.host_makefile)}}

def _get_sysconfigdata_name():
    return {{repr(sysconfig_name)}}

# On CPython patching _get_sysconfigdata_name is enough.
# On PyPy, we need to patch _init_posix, because pypy
# doesn't use _get_sysconfig_data_name in _init_posix
__real_init_posix = _init_posix
def _init_posix(*args, **kwargs):
    old = os.environ.get('_PYTHON_SYSCONFIGDATA_NAME')
    os.environ['_PYTHON_SYSCONFIGDATA_NAME'] = {{repr(sysconfig_name)}}
    try:
        return __real_init_posix(*args, **kwargs)
    finally:
        if old is None:
            del os.environ['_PYTHON_SYSCONFIGDATA_NAME']
        else:
            os.environ['_PYTHON_SYSCONFIGDATA_NAME'] = old

def get_platform():
    return {{repr(self.sysconfig_platform)}}

assert _CONFIG_VARS is None, "sysconfig was set up prior to patching?"
